@import '../../base.scss';
@import '../../media.scss';

.projects {
    width: 120rem;
    margin: auto;
    display: flex;
    
    @include respond (tab-land) {
        width: 90%;
    }

    &__tabs {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        padding: 4rem 1rem;
        flex: 0 0 25%;

        @include respond (tab-land) {
            display: none;
        }
    }

    &__list {
        display: grid;
        column-gap: 3rem;
        right: 0;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 29rem));
        grid-auto-rows: auto;

        @include respond (tab-land) {
            justify-content: center;
        }
    }

    &__content {
       
        width: 90%;
        margin: 2rem;
       
        margin-left: 24rem;

        @include respond (tab-land) {
            margin-left: 2rem;
           
        }

        &--heading {
            font-size: 4.8rem;
            margin-bottom: 3.2rem;
            padding-right: 2.4rem;
            text-align: end;
            color: $secondary;

            @include respond (tab-land) {
                
               
               font-size: 3.2rem;
            }

            @include respond (phone) {
                
                margin-right: 0rem;
                font-size: 2.4rem;
                padding-right: 1.6rem;
            }

           
            
            @include respond (big-desktop) {
                font-size: 4.8rem;
                margin-bottom: 3.2rem;
            }
        }
    
        &--active {
            display: flex;
            flex-direction: column;
        }
    }
}

.tab--1 {
    border-right: 8px solid $tab--1;
}

.tab--2 {
    border-right: 8px solid $tab--2;
}

.tab--3 {
    border-right: 8px solid $tab--3;
}

.tab--4 {
    border-right: 8px solid $tab--4;
}

.tab--5 {
    border-right: 8px solid $tab--5;
}
