@import '../../base.scss';
@import '../../media.scss';

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 3.2rem;

    @include respond(tab-port) {
        
        
    }

    @include respond(phone) {
        width: 120rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    &__item {
        display: flex;
        color: #fff;
    }

    &__tech {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        border: 4px solid $secondary;
        background: $background;

        @include respond(big-desktop) {
            width: 4.8rem;
            height: 4.8rem;
        }

        @include respond(tab-port) {
            width: 4.8rem;
            height: 4.8rem;
        }

        &--icon {
            width: 2.4rem;
            height: 2.4rem;

            @include respond(tab-port) {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        
        margin-left: 1.6rem;

        span {
            font-size: 2.4rem;

            @include respond(tab-port) {
                font-size: 1.8rem;
            }
        }
    }

    &__dots {
        display: flex;
        align-items: center;
        margin-top: auto;
        gap: 4px;

        &--dot {
            width: 1.8rem;
            height: 1.8rem;
            fill: $background;

            @include respond(tab-port) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
}