@import '../base.scss';
@import '../media.scss';

.section-projects {
   
    padding: 10rem 0rem;

    @include respond(tab-port) {
        padding: 4.8rem 0rem;
    }

    @include respond(phone) {
        padding: 2.4rem 0rem;
    }
}

.projects__tab {
    margin: 1rem 0rem;
    padding: 2rem 1rem;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    

    @include respond(tab-port) {
        width: 30rem;
        padding: 2.2rem 2rem;
        border-radius: 4px;
        margin-right: 1rem;
        display: inline-block;
        z-index: 5;
        font-size: 1.6rem;
    }

    &:hover {
        cursor: pointer;
        background-position: -50% 100%;
        color: #fff;
        
    }

    &--1 {
        border: none;
        border-left: 4px solid $tab--1;
        background-image: linear-gradient(90deg,
        #fff 0%,
        #fff 50%,
        $tab--1 50%,
        $tab--1 100%);

        background-size: 300%;

        transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
        transition-delay: 0.0s, 0.15s;
    } 

    &--2 {
        border: none;
        border-left: 4px solid $tab--2;
        background-image: linear-gradient(90deg,
        #fff 0%,
        #fff 50%,
        $tab--2 50%,
        $tab--2 100%);

        background-size: 300%;

        transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
        transition-delay: 0.0s, 0.15s;
    }
    
    &--3 {
        border: none;
        border-left: 4px solid $tab--3;
        background-image: linear-gradient(90deg,
        #fff 0%,
        #fff 50%,
        $tab--3 50%,
        $tab--3 100%);

        background-size: 300%;

        transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
        transition-delay: 0.0s, 0.15s;
    }
    
    &--4 {
        border: none;
        border-left: 4px solid $tab--4;
        background-image: linear-gradient(90deg,
        #fff 0%,
        #fff 50%,
        $tab--4 50%,
        $tab--4 100%);

        background-size: 300%;

        transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
        transition-delay: 0.0s, 0.15s;
    }   

    &--5 {
        border: none;
        border-left: 4px solid $tab--5;
        background-image: linear-gradient(90deg,
        #fff 0%,
        #fff 50%,
        $tab--5 50%,
        $tab--5 100%);

        background-size: 300%;

        transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
        transition-delay: 0.0s, 0.15s;
    }   
}