@import '../../base.scss';
@import '../../media.scss';

.carousel {
    position: relative;
    overflow: hidden;
    width:100%;
    height: 74vh;

    @include respond(big-desktop) {
        height: 64vh;
    }

    
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;

        top: 0;
        position: absolute;
        width: auto;
        padding-left: 5.8rem;
        margin-top: 3.2rem;
        
        // overflow: visible;
        transition: transform .4s;

        @include respond(big-desktop) {
            padding-left: 5.8rem;
        }
       
    }
}

.carousel__head {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    width: 120rem;
    margin: auto;
    margin-bottom: 1.9rem;

    @include respond(tab-land) {
        width: 90%;
    }

    &--heading {
        font-size: 3.2rem;
        color: #fff;

        @include respond(big-desktop) {
            font-size: 4.8rem;
        }

       
    }
}

.arrow__btns {
    display: flex;
    gap: 1.8rem;
    margin-left: auto;
}

.arrow__btn {
    height: 5.6rem;
    width: 5.6rem;
    border: none;
    border-radius: 50%;
    font-family: inherit;
    background: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    @include respond(big-desktop) {
        height: 6.4rem;
        width: 6.4rem;
    }

    &--icon {
        height: 3.2rem;
        width: 3.2rem;
    }    
}

.slide {
    
    display: flex;
   
    gap: 4.8rem;
    margin-left: 1rem;
    

    @include respond(big-desktop) {
        gap: 6.4rem;
        margin-left: 1rem;
        width: 134rem;
    }
    

    &__item {
        width: 54rem;
        height: 46rem;
        background: #fff;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

        @include respond(big-desktop) {
            width: 64rem;
            height: 54rem;
        }

        @include respond(tab-land) {
            display: inline-block;
            width: 42rem;
            height: 30rem;
            margin-bottom: 5rem;
        }


        &--img {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 100%;
            height: auto;
        }

        &--content {
            display: flex;
            flex-direction: column;
            padding: 1.8rem 1.8rem;

            @include respond(big-desktop) {
                padding: 2.4rem 1.8rem;
            }

            h2 {
                font-size: 1.8rem;
                margin-bottom: 1.8rem;

                @include respond(big-desktop) {
                    font-size: 2.4rem;
                    margin-bottom: 2.4rem;
                }
            }
        }

        &--flex {
            display: flex;
            
            p {
                font-size: 1.6rem;
                line-height: 2.4rem;
                flex: 0 0 64%;

                @include respond(big-desktop) {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    flex: 0 0 70%;
                }
            }
        }

        &--link {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            padding: 1rem 1.8rem;
            background: $project_btn;
            text-decoration: none;
            color: $text;
            border-radius: 8px;
            margin-left: 1.6rem;
            height: fit-content;

            transition: all .3s;

            @include respond(big-desktop) {
                padding: 1rem 2.4rem;
                font-size: 1.6rem;
            }

            &:hover {
                transform: translateY(-3px);
            }
        }
    }
    
}

