@import '../../base.scss';
@import '../../media.scss';

.footer {
    
    padding: 10rem 0rem;
    background: $primary;
    margin-top: auto;


    &__content {
        text-align: center;

        &--email {
            font-size: 2.4rem;
            color: #fff;
        }
    }
}