@import './base.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    
}

body {
    background: $background;
    display: flex;
    flex-direction: column;
}