@import '../base.scss';

.about {

    height: auto;
    background: $primary;
    overflow: hidden;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    &__content {
        
        width: 120rem;
        margin: auto;
        color: $text;

        @include respond(tab-land) {
            width: 90%;
            margin-left: 3.2rem;
            margin-right: 3.2rem;
        }

        @include respond(phone) {
            width: 84%;
            margin-left: 3.2rem;
            
        }
    }

    &__skills {
       width: 120rem;
       margin: auto;
        
        margin-top: 4.8rem;

        @include respond(tab-land) {
            width: 90%;
        }

        @include respond(tab-port) {
            margin-top: 3.2rem;
        }

        @include respond(phone) {
            overflow-x: scroll;
            white-space: nowrap;
            padding: 10px;
            width: auto;
            padding-left: 3rem;
            -webkit-overflow-scrolling: touch;
        }
    }
}

