@import '../base.scss';

.carousel-projects {
    margin-top: -43rem;
    overflow: hidden;
    margin-bottom: 4rem;

    @include respond(big-desktop) {
        margin-top: -49.8rem;
    }

    @include respond(tab-land) {
        display: none;
    }
}